# Workflow para generar el badge de que sitios siguen vivos
---
name: Generate README.md based on json files

on:
  push:
    branches: [main]

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.REPO_TOKEN }}
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: install deps
        run: (cd .github/actions && npm i --only=prod)
      - name: Generate Readme
        run: (cd .github/actions && npm run generate)
      - name: Generate missing
        run: (cd .github/actions && npm run missing)
      - name: Add and commit changes
        uses: EndBug/add-and-commit@v7
        with:
          add: "README.md"
          author_name: "Mario Carballo"
          author_email: "afk@ellugar.co"
          message: "[bot] Generate README.md based on .json files"
